.nav {
    height: 80px;
    background-color: #2B2B2B;
}

.getstarted {
    margin: 0px;
    padding: 0px;
    background-color: #2B2B2B;
}

.a {
    text-decoration: none;
}

.getstarted {
    background-color: white;
    color: #2B2B2B;
}